:root {
    /* Light mode colors */
    --background-color: #e0f7fa; 
    --text-color: #00695c; 
    --button-bg-color: #4ecec1; 
    --button-text-color: #ffffff; 
    --input-bg-color: rgba(38, 166, 154, .1); 
    --button: #ef9664;
    --icons: #ffffff;
    --icons-trnasperent: #ffffff66;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode colors */
        --background-color: #13005A; 
        --text-color: #03C988; 
        --button-bg-color: #00337C; 
        --button-text-color: #e0f2f1; 
        --input-bg-color: rgba(128, 203, 196, .1);
        --button: #cf763a;
        --icons: #03C988;
        --icons-trnasperent: #03c9884a;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

textarea, button, .result-box {
    border-radius: 5px;
}

textarea, .inputOptions {
    resize: horizontal;
    overflow: auto;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    justify-content: center;  
}

.button-container {
    background-color: var(--button-bg-color);
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--button-text-color);
    text-align: center;
    border-radius: 5px;
    width: 70vh; 
}

.icon-button {
    margin-right: 0.6vh;
    margin-left: 0.6vh;
    font-size: 36px;
    border: none;
    background: none;
    color: var(--button);
    fill: var(--icons)
}

.icon-button:hover {
    transform: scale(1.1);
}

#content {
    direction: ltr;
    text-align: center;
}

.input-group, .result-box {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--input-bg-color);
}

.bold {
    font-weight: bold;
}

#historyButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: var(--button);
    fill: var(--icons);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
  }
  
  #historyButton.disabled {
    fill: var(--icons-trnasperent) ;
    cursor: default;
  }
  
  #historyButton svg {
    width: 30px;
    height: 30px;
    stroke: var(--button-text-color);
  }
  
  #historyPanel {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: var(--background-color);
    border: 2px solid var(--button-bg-color);
    border-radius: 5px;
    overflow-y: auto;
    z-index: 999;
  }
  
  #historyPanel.hidden {
    display: none;
  }
  
  .cache-item {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .cache-item:hover {
    background-color: var(--input-bg-color);
  }
  
  .cache-separator {
    border: 0;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.2;
    margin: 0;
  }
@media (prefers-color-scheme: dark) {
    textarea, .inputOptions {
        color: var(--text-color);
    }
}